

.menu {
    width: 100%;
    height: 64px;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: grey;
}

.item:hover {
    cursor: pointer;
    color: white;
}